.GridInput {
    background-color: #082c30;
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    border-radius: 10px;
    color: white;

    > * {
        margin: 5vh;
    }
}

.InputInstructions {
    align-items: center;
    justify-content: flex-start;
    width: 40%;
}

.Input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.DataCollecting {
    display: flex;
    flex-direction: column;

    > label {
        display: flex;
        justify-content: space-between;
        margin: 1vh;
        font-weight: bolder;

        > input, select {
            background-color: #c59c6d;
            margin-left: 2vh;
            width: 10vh;
            border-style: none;
            border-radius: 5px;
            font-weight: bold;
            text-align: center;
        }
    }
}

.SubmitButton {
    background-color: #9de1fe;
    height: 5vh;
    width: 50%;
    border: solid 2px;
    border-radius: 10px;
    font-weight: 800;
}

.WarningMessage {
    color: #B33A3A;
    font-weight: bold;
    height: 2vh;
    text-align: center;
}