.GridInput {
    background-color: #0a3c43;
    width: 100%;
    display: flex;
    padding: 5vh 0;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 10px;

    > * {
        margin: 5vh;
    }
}

.InputInstructions {
    align-items: center;
    justify-content: center;
    width: 40%;
}

.InputForm {
    display: flex;
    flex-direction: column;

    > label {
        display: flex;
        justify-content: space-between;
        margin: 1vh;
        font-weight: bold;

        > input, select {
            background-color: #7d9192;
            margin-left: 2vh;
            width: 10vh;
            border-style: none;
            border-radius: 5px;
            text-align: center;
        }
    }
}

.SubmitButton {
    background-color: #9de1fe;
    height: 5vh;
    border: solid 2px;
    border-radius: 10px;
    font-weight: 800;
}