.Square {
    height: 40px;
    width: 40px;
    background-color: teal;
    border-style: solid;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Small {
    height: 50px;
    width: 50px;
}

